<div class="welcome-container text-center mt-5">
  <h1 class="display-1 mb-4">¡Bienvenidos a Factura Rápido!</h1>
  
  <div class="welcome-images">
      <img src="assets/imagenes/logo.png" class="img-fluid rounded-circle" alt="logo" style="width: 300px; height: 300px;" />
      
  </div>
  
  <p class="lead mt-4">Gestiona tus facturas de forma rápida y sencilla.</p>


<!--
  <li class="nav-item">
    <a class="btn btn-outline-dark" routerLink="/login">Inicio de Sesión</a>
  </li>
 
  <li class="nav-item">
    <a class="btn btn-outline-dark" routerLink="/register">Registrarse</a>
  </li>
  
  <a class="btn btn-success btn-lg mt-3" routerLink="/login">Comenzar</a>
</div>-->




